html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#home-card-area{
    background-color: antiquewhite;
    height: 30vh;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

#notice-board{
    height: 51vh;
    display: flex;
    background-color:antiquewhite;
    justify-content: center;
    padding-bottom: 30px;
    text-align: left;
}

#notice-area{
    height: 50vh;
    width: 50vw;
    border-radius: 10px;
    border:2px solid #6b46a6;
}

.cards{
    background-color:white;
    height: 200px;
    width: 250px;
    margin: 0px 15px;
    border-radius: 15px;
    /* border:2px solid #6b46a6; */
}

.dashboard-btns-area{
    justify-content: center;   
}

.dashboard-btns{
    font-size: 15px;
    width: 180px;
}

.dashboard-btns:hover{
    cursor:pointer;
    background-color:#6b46a6;
    color: white;
}